button {
  cursor: pointer;
}

.App {
  cursor: default;
}

li {
  list-style: none;
}

header {
  width: 100%;
  position: fixed;
  height: 40px;
  top: 0;
  background-color: #fff;
  border-bottom: solid 2px black;
  z-index: 8888;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header nav button {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  font-weight: 600;
  font-size: large;
  border: none;
  height: 40px;
}
header nav .logOutBtn {
  position: absolute;
  right: 0;
  font-size: small;
  font-weight: 400;
}

main .home {
  margin: 100px 5%;
}
main .home .topMenus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 94px;
}
main .home .topMenus .menu {
  width: 200px;
  height: 200px;
  border: solid 3px black;
  border-radius: 12px;
  background-color: #fff;
}
main .home .topMenus .menu .menuName {
  text-align: center;
}
main .home .topMenus .menu .menuInfos .info {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .home .siteStats {
  width: 800px;
  height: 350px;
  margin: 40px auto;
  border: solid 3px black;
  border-radius: 12px;
  text-align: center;
}
main .home .siteStats .statsInfos {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .home .siteStats .statsInfos .info {
  width: 200px;
  height: 200px;
}
main .home .siteStats .statsInfos .info .stats {
  width: 200px;
  height: 150px;
}
main .upload {
  width: 800px;
  border: solid black 3px;
  border-radius: 16px;
  margin: 100px auto;
  text-align: center;
}
main .upload .uploadBtn {
  background-color: #fff;
  border: solid 1px black;
  border-radius: 8px;
  width: 50px;
  height: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
main .manage h2 {
  text-align: center;
  transform: translateY(50px);
}
main .manage .searchFilter {
  width: 800px;
  border: solid black 3px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
main .manage .searchFilter .searchOptionCheckbox {
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 15px;
}
main .manage .searchFilter .searchOptionCheckbox input {
  margin-left: 10px;
}
main .manage .searchFilter .searchBtn {
  background-color: #fff;
  border: solid 1px black;
  border-radius: 8px;
  width: 50px;
  height: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
main .manage ::-webkit-scrollbar {
  display: none;
}
main .manage .manageModal {
  width: 800px;
  height: 800px;
  border-radius: 16px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow-y: auto;
  z-index: 9999;
}
main .manage .manageModal .closeBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
main .manage .manageModal .modifyBtn {
  background-color: #fff;
  border: solid 1px black;
  border-radius: 8px;
  width: 50px;
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 600;
}
main .manage .manageModalOut {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8888;
}
main .inputs {
  width: 800px;
  text-align: center;
  position: relative;
}
main .inputs .inputName {
  position: absolute;
  left: 40px;
}
main .inputs .inputBox {
  margin: 30px 0;
  width: 275px;
  margin-left: 296px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .inputs .inputBox input {
  width: 206px;
  height: 22px;
  padding: 0;
  border: solid 1px black;
  text-align: center;
}
main .inputs .inputBox select {
  width: 208px;
  height: 24px;
  padding: 0;
  border: solid 1px black;
  text-align: center;
}
main .inputs .inputBox textarea {
  width: 200px;
  height: 64px;
  padding: 3px;
  border: solid 1px black;
}
main .inputs .inputBox .checkbox {
  margin-right: 15px;
}
main .inputs .inputBox .checkbox input {
  height: auto;
  width: auto;
  margin: 0;
  margin-right: 4px;
  cursor: pointer;
}
main .inputs .inputBox .checkbox span {
  font-size: 15px;
  cursor: pointer;
}
main .inputs .inputBox .dateInput {
  display: flex;
  flex-direction: row;
  width: 300px;
}
main .inputs .inputBox .dateInput span {
  margin: 0 10px;
}
main .inputs .inputBox .dateInput input {
  width: 120px;
}
main .inputs .inputBox .addBtns {
  transform: translateX(208px);
  position: absolute;
  background-color: #fff;
  height: 24px;
  border: solid 1px black;
}
main .inputs .addedDatas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transform: translate(-10px, 14px);
  width: 800px;
}
main .inputs .addedDatas .addedDataBox {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 120px;
  height: 19px;
  border: 1px solid black;
  margin: 5px;
}
main .inputs .addedDatas .addedDataBox .addedData {
  color: #000;
  font-size: small;
  width: 100px;
  transform: translateX(10px);
}
main .inputs .addedDatas .addedDataBox .delBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
main .listBox {
  width: 800px;
  border: solid black 3px;
  border-radius: 16px;
  margin: 50px auto;
  text-align: center;
}
main .listBox .modalOut {
  position: fixed;
  z-index: 8888;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
main .listBox .listTitle {
  height: 40px;
  font-size: large;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .listBox .listMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px black;
  height: 40px;
}
main .listBox .listMenu .leftMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 10px;
}
main .listBox .listMenu .leftMenu button {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px black;
  border-radius: 8px;
}
main .listBox .listMenu .rightMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
}
main .listBox .listMenu .rightMenu .setShowElBtn {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px black;
  border-radius: 8px;
}
main .listBox .listMenu .rightMenu .setShowElModal {
  position: absolute;
  top: 35px;
  right: 175px;
  border: solid black 1px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 120px;
  background-color: #fff;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
main .listBox .listMenu .rightMenu .setShowElModal input {
  float: left;
  margin-left: 8px;
  cursor: pointer;
}
main .listBox .listMenu .rightMenu .setShowElModal button {
  float: left;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: small;
}
main .listBox .listMenu .rightMenu select {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px black;
}
main .listBox table {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  border-bottom: solid 1px black;
}
main .listBox table .grabbing {
  background-color: rgba(0, 0, 0, 0);
}
main .listBox table .noData {
  height: 300px;
  border-top: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}
main .listBox table .noData:hover {
  height: 300px;
}
main .listBox table thead {
  border: solid 1px black;
  margin: auto -1px;
}
main .listBox table thead .el {
  cursor: pointer;
}
main .listBox table tr {
  display: flex;
  flex-direction: row;
  border-top: solid 1px black;
  height: 49px;
}
main .listBox table tr:hover {
  height: auto;
  min-height: 49px;
}
main .listBox table tr .listCheckbox {
  margin-right: 5px;
}
main .listBox table tr .el {
  width: 130px;
  border: solid 1px black;
  margin: -1px 0 -1px -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
main .listBox table .moreLi {
  height: auto;
}
main .listBox .pages {
  border-top: solid 1px black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .listBox .pages .currPageBtn {
  background-color: #000;
  color: #fff;
  border-radius: 30%;
}
main .listBox .pages button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #000;
}
main .loginPage {
  width: 500px;
  height: 250px;
  border: solid black 3px;
  border-radius: 16px;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .loginPage input {
  width: 200px;
  height: 20px;
}
main .loginPage .loginBtn {
  background-color: #fff;
  border: solid 1px black;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  margin-top: 20px;
  font-weight: 600;
}/*# sourceMappingURL=App.css.map */